<nav-bar-view></nav-bar-view>

<!-- Page info -->
<div class="page-info-course set-bg" data-setbg="../../img/page-bg/1.jpg" style="background-image: url('../../img/courses/1.jpg');">
</div>
<a [routerLink]="['/addstudent']" class="site-btn addcourse-btn">Add Student</a>
<a [routerLink]="['/grading']" class="site-btn grade-btn btn-success addcourse-btn">Give Grade</a>

<section class="course-section spad pb-0">
    <div class="course-warp">

        <div class="featured-courses" *ngFor="let stu of studentService.students">
            <div class="featured-course course-item" >
                <div class="course-thumb set-bg" data-setbg="../../img/authors/{{stu.studentId}}.jpg" style="background-image: url('../../img/authors/{{stu.studentId}}.jpg'); ">
                    <div class="price">Active</div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 pl-0">
                        <div class="course-info">
                            <div class="course-text">
                                <div class="fet-note">{{stu.firstName}} {{stu.lastName}}</div>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Subject</th>
                                            <th scope="col">Grade</th>
                                            <th scope="col">Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let g of stu.subjectGrade">
                                            <th scope="row">1</th>
                                            <td>{{g.subject.subjectName}}</td>
                                            <td>{{g.grade}}</td>
                                            <td>{{g.gradePoint}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="course-author">
                                <div class="ca-pic set-bg" data-setbg="../../img/authors/1.jpg" style="background-image: url('../../img/authors/{{stu.studentId}}.jpg'); "></div>
                                <p>{{stu.firstName}} {{stu.lastName}}, <span>Student</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course section end -->
